@media screen and (min-width:1024px) {
    [data-theme="dark"] {
        body{
            background-image: url(../images/shiny_seamless_arabic_geometric_ornament_pattern_on_black_background.jpg);
            background-color: black;
        }
        .text{
            background-color: rgb(26, 26, 26);
            border-color: rgb(201, 201, 201);
        }
        #zag{
            color: #f0ffff;
        }
        .head {
            background-color: #03000a;
        }
        .bt{
            background-color: #1f1e1e;
            color: #fff;
        }
        .bt:hover{
            background-color: #807f81;
        }
        .hello{
            background-color: rgb(12, 12, 12);
        }
        .foot{
            background-color: #2b2a2a;
        }
        .hblock:hover{
            background-color: #5c5c5c;
        }
    }
    [data-theme="yellow"] {
        body{
            background-image: url(../images/19114f865c0736b6ed3d212747c6d313.jpg);
            background-color: rgb(206, 209, 15);
        }
        .text{
            background-color: rgb(167, 161, 85);
            border-color: rgb(104, 165, 5);
        }
        #zag{
            color: #000000;
        }   
        .head {
            background-color: #acb625;
        }
        .bt{
            background-color: #919b08;
            color: #fff;
        }
        .bt:hover{
            background-color: #ebdf3e;
        }
        .hello{
            background-color: rgb(119, 107, 2);
        }
        .foot{
            background-color: #646601;
        }
        .hblock:hover{
            background-color: #c8d41e;
        }
    } 
    [data-theme="horny"] {
        body{
            background-image: url(../images/pink.jpg);
            background-color: rgb(209, 15, 122);
        }
        .text{
            background-color: rgb(179, 34, 126);
            border-color: rgb(190, 54, 138);
        }
        #zag{
            color: #500330;
        }
        .head {
            background-color: #720557;
        }
        .bt{
            background-color: #3b022d;
            color: #fff;
        }
        .bt:hover{
            background-color: #d113b1;
        }
        .hello{
            background-color: rgb(109, 22, 94);
        }
        .foot{
            background-color: #5c044d;
        }
        .hblock:hover{
            background-color: #e938e9;
        }
    }
    body {
        
        width: 100%;
        padding: 0;
        margin: 0;
        background-image: url(../images/fon.jpg);
        background-size: cover;
        background-repeat: repeat-y;
        background-position: center;
    }

    .cont {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 5% auto;
    }

    .head {
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 25% 15% 15%  auto;
        grid-template-rows: 90%;
        column-gap: 10px;
        background-color: #260879;
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 1;
    }

    .hblock {
        padding: 10px;
        width: auto;
        height: auto;
        cursor: auto;
        text-align: center;
    }
.hblock:hover{
    background-color: #4e1ed4;
}

    .htext {
        color: #f0ffff;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .ser {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 20% auto 20%;
    }

    #zag {
        width: auto;
        position: relative;
        padding: 20px;
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        text-align: center;
    }

    .basa {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: auto;
        padding: 10px;
    }

    .text {
        background-color: rgb(248, 248, 248);
        padding: 20px;
        border-color: cornflowerblue;
        border-radius: 20px;
        border-style: groove;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 30% auto;
    }

    .foot {
        background-color: #0d2849;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;

    }

    .fato {
        width: 35px;
        height: 35px;
        cursor:crosshair;
    }

    #ftext {
        color: #f0ffff;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .fito {
        width: 60%;
        height: 90%;
        border-radius: 20px;
        display: block;
    margin-left: auto;
    margin-right: auto;
    }

    #foto {
        width: 100%;
        height: 90%;
        border-radius: 30px;
    }

    .stext {
        display: block;
        margin-left: auto;
    margin-right: auto;
    }
.bt{
    font-size: 20px;
    margin: 5px;
    height: 30px;
    border-radius: 10px;
    background-color: #4d27b6;
    color: #fff;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bt:hover{
    background-color: #541ee9;
}
    .hello {
        background-color: #354e6d;
        width: auto;
        height: max-content;
        padding: 15px;
        border-radius: 20px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 15px;
        margin-top: 5px;
        color: rgb(245, 245, 245);
    }

}
@media screen and (min-width:320px) and (max-width:1023px){
    [data-theme="dark"] {
        body{
            background-image: none;
            background-color: black;
        }
        .text{
            background-color: rgb(119, 118, 118);
            border-color: rgb(2, 38, 105);
        }
        #zag{
            color: #f0ffff;
        }
    }
    body {
        width: 100%;
        padding: 0;
        margin: 0;
        background-image: url(../images/fon.jpg);
        background-size: cover;
        background-repeat: repeat-y;
        background-position: center;
    }

    .cont {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% auto;
    }

    .head {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100%;
        background-color: rgb(104, 190, 190);
        position: fixed;
        column-gap: 1px;
        width: 100%;
        height: 10%;
        top: 0px;
        z-index: 1;
    }

    .hblock {
        background-color: blue;
        padding-top: 5px;
        width: 100%;
        height: 100%;
        cursor: auto;
        text-align: center;
    }

    .htext {
        color: azure;
        text-decoration: none;
        font-size: 17px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .ser {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 9% auto;
    }

    #zag {
        width: auto;
        position: relative;
        padding: 10px;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        text-align: center;
    }

    .basa {
        display: grid;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: auto;
        padding: 5px;
    }

    .text {
        background-color: rgb(248, 248, 248);
        padding: 10px;
        border-color: cornflowerblue;
        border-radius: 20px;
        border-style: groove;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 15% auto;
        row-gap: 10px;
    }

    .foot {
        background-color: #50555B;
        padding: 10px;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 10%;
    }

    .fato {
        width: 20px;
        height: 20px;
    }

    #ftext {
        color: azure;
        text-decoration: none;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .fito {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    #foto {
        width: 50%;
        height: 90%;
        border-radius: 30px;
        display: none;
    }

    .stext {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .hello {
        background-color: #50555B;
        width: 80%;
        height: max-content;
        padding: 15px;
        border-radius: 20px;
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(245, 245, 245);
    }
    .a{height: 80px;}
    .ss{display: grid; row-gap: 5px;}
    .bt{
        font-size: 15px;
        margin: 5px;
        height: 30px;
    }
}
