@media screen and (min-width: 1024px) {
        body {
        
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            background-image: url(../images/fon.jpg);
            background-size: cover;
            background-repeat: repeat-y;
            background-position: center;
        }
    
        .head {
            display: grid;
            grid-template-columns: 10% 10% 10% 10% 5% 5% 5% 5% 5% 5% 5% 5% 5% auto;
            grid-template-rows: 90%;
            column-gap: 10px;
            background-color: rgb(104, 190, 190);
            padding: 5px;
            position: fixed;
            width: 100%;
            top: 0px;
            z-index: 1;
        }
        .a{
            height: 80px;
        }
        .hblock {
            background-color: blue;
            padding: 20px;
            width: auto;
            height: auto;
            border-radius: 10%;
            cursor: auto;
            text-align: center;
        }
    
        .htext {
            color: azure;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    
        .circle {
            background-color: blue;
            width: auto;
            height: auto;
            border-radius: 50%;
            padding: 20px 20px 20px 20px;
            margin: 5px;
            position: relative;
            cursor: auto;
        }

    #item {
        cursor: pointer;
        position: absolute;
        top: 100px;
        left: 0px;
        width: 200px;
        height: 200px;
        margin-left: 400px;
        margin-top: 500pxpx;
        transition: 0.1s;
    }
    #scream{
        width: 100%;
        height: 550px;
        visibility: hidden;
        transition: 0.5s;
    }
}