@media screen and (min-width:1024px) {
    [data-theme="dark"] {
        body{
            background-image: none;
            background-color: black;
        }
        .text{
            background-color: rgb(119, 118, 118);
            border-color: rgb(2, 38, 105);
        }
        #zag{
            color: #f0ffff;
        }
        .m{
            background-color: #50555B;
            border-color: blue;
        }
        .hello{
            color: #f0ffff;
        }
    }
    .bt{
        font-size: 20px;
        margin: 5px;
        height: 30px;
        float: right;
        margin-right: 30px;
    }
    body {
        
        width: 100%;
        padding: 0;
        margin: 0;
        background-image: url(../images/fon.jpg);
        background-size: cover;
        background-repeat: repeat-y;
        background-position: center;
    }

    .cont {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px auto 100px;
    }

    .head {
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 5% 5% 5% 5% 5% 5% 5% 5% 5% auto;
        grid-template-rows: 90%;
        column-gap: 10px;
        background-color: rgb(104, 190, 190);
        padding: 5px;
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 1;
    }

    .hblock {
        background-color: blue;
        padding: 20px;
        width: auto;
        height: auto;
        border-radius: 10%;
        cursor: auto;
        text-align: center;
    }

    .htext {
        color: azure;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .circle {
        background-color: blue;
        width: auto;
        height: auto;
        border-radius: 50%;
        padding: 20px 20px 20px 20px;
        margin: 5px;
        position: relative;
        cursor: auto;
    }
    .content{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% auto;
    }
    .basa {
        display: grid;
        grid-template-columns: 20%  60% 20%;
        grid-template-rows: auto;   
    }
    #aaa{
        margin-top: 5px;
    }
    #b{
        margin-top: 5px;
    }
    #c{
        margin-top: 5px;
    }
    #d{
        margin-top: 5px;
    }
    .m{background-color: rgb(248, 248, 248);
        padding: 20px;
        border-color: cornflowerblue;
        border-radius: 20px;
        border-style: groove;
        row-gap: 30px;
    }
    .vopros{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(25, 4);
    }
    #zag {
        width: auto;
        position: relative;
        padding: 20px;
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        text-align: center;
    }

    .hello {
        width: 80%;
        height: max-content;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    

    .btn {
        width: 100px;
        height: 40px;
        
    }

    .foot {
        background-color: #50555B;
        padding: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 2;
    }

    .fato {
        width: 40px;
        height: 40px;
    }

    #ftext {
        color: azure;
        text-decoration: none;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .fito {
        width: 40%;
        height: 100%;
        border-radius: 20px;
    }

    #foto {
        width: 100%;
        height: 90%;
        border-radius: 30px;
    }
    .a{height: 130px;}
    .aa{height: 100px;}

}
@media screen and (min-width:320px) and (max-width:1023px){
    [data-theme="dark"] {
        body{
            background-image: none;
            background-color: black;
        }
        .text{
            background-color: rgb(119, 118, 118);
            border-color: rgb(2, 38, 105);
        }
        #zag{
            color: #f0ffff;
        }
        .m{
            background-color: #50555B;
            border-color: blue;
        }
        .hello{
            color: #f0ffff;
        }
    }
    body {
        width: 100%;
        padding: 0;
        margin: 0;
        background-image: url(../images/fon.jpg);
        background-size: cover;
        background-repeat: repeat-y;
        background-position: center;
    }

    .cont {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 7% auto;
    }

    .head {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100%;
        background-color: rgb(104, 190, 190);
        position: fixed;
        column-gap: 1px;
        width: 100%;
        height: 10%;
        top: 0px;
        z-index: 1;
    }

    .hblock {
        background-color: blue;
        padding-top: 5px;
        width: 100%;
        height: 100%;
        cursor: auto;
        text-align: center;
    }

    .htext {
        color: azure;
        text-decoration: none;
        font-size: 17px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .content{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 7% auto;
    }
    .input{
        height: 30px;
    }
    .basa {
        display: grid;
        grid-template-columns: 5%  90% 5%;
        grid-template-rows: auto;   
    }
    #aaa{
        margin-top: 5px;
    }
    #b{
        margin-top: 5px;
    }
    #c{
        margin-top: 5px;
    }
    #d{
        margin-top: 5px;
    }
    .m{background-color: rgb(248, 248, 248);
        padding: 20px;
        border-color: cornflowerblue;
        border-radius: 20px;
        border-style: groove;
        row-gap: 30px;
    }
    .vopros{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(25, 4);
    }
    #zag {
        width: auto;
        position: relative;
        padding: 20px;
        font-size: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        text-align: center;
    }

    .hello {
        width: 80%;
        height: max-content;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    

    .btn {
        width: 100px;
        height: 40px;
        
    }

    .foot {
        background-color: #50555B;
        padding: 10px;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 10%;
    }

    .fato {
        width: 20px;
        height: 20px;
    }

    #ftext {
        color: azure;
        text-decoration: none;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .a{height: 70px;}
    .aa{height: 100px;}
    .bt{
        font-size: 15px;
        margin: 5px;
        height: 30px;
    }
}
